.navbar-custom .navbar-collapse.show {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease;
    padding: 1rem;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #ddd;
}
